.card-recipe {
  position: relative;

  display: flex;
  overflow: hidden;
  height: 600px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  align-self: flex-end;
  order: 0;
  flex: 1;

  border-radius: 48px;
}

.recipe-card-content {
  padding: 24px;
  align-self: stretch;
  border-radius: 24px;
  background-color: hsla(40.000000000000064, 42.86%, 95.88%, 0.85);
}

.text-titlem {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 27px;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: -0.10000000149011612px;
  font-family: Fredoka;
}

.meta {
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  color: var(--_color---semantic--text--secondary);
}

.dott {
  width: 3px;
  height: 3px;
  border-radius: 20px;
  background-color: var(--_color---semantic--text--secondary);
}

.recipe-tile-image {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;

  width: 100%;
  height: 100%;
  max-width: none;

  object-fit: cover;
}